
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://gw.alipayobjects.com/os/antv/assets/g6/2.0.0/g6.js"></script>
    <script src="https://gw.alipayobjects.com/os/antv/assets/lib/jquery-3.2.1.min.js"></script>
    <link href="~/css/demo.css" rel="stylesheet" />

</head>
<body>
    <input type="checkbox" id="chkDisplay" name="chkDisplay" value="">是否显示节点名称
    <div id="nodeChat" class="chat"></div>
    <script src="~/js/demo.js"></script>
</body>
</html>
